@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif;

<style>
  @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');
</style>

*/

@layer components {
	.card {
		background-color: #000;
		padding: 10rem;
	}
	/* ... */
}

body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
