@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif;

<style>
  @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');
</style>

*/

@layer components {
	.header-one {
		color: #fff;
		font-family: Antonio;
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}
	.header-two {
		color: #fff;
		font-family: Antonio;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.5px;
		text-transform: uppercase;
	}
	.header-three {
		color: #fff;
		font-family: Spartan;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 208.333% */
		letter-spacing: 2.571px;
		text-transform: uppercase;
	}
	.header-four {
		color: #fff;
		font-family: Spartan;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 227.273% */
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.body-one {
		color: #fff;
		font-family: Spartan;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 227.273% */
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	/* ... */
}

body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
