@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}
/*
font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif;

<style>
  @import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=League+Spartan:wght@400;700&display=swap');
</style>

*/

@layer components {
	.header-one {
		color: #fff;
		font-family: Antonio;
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}
	.header-two {
		color: #fff;
		font-family: Antonio;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.5px;
		text-transform: uppercase;
	}
	.header-three {
		color: #fff;
		font-family: Spartan;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 208.333% */
		letter-spacing: 2.571px;
		text-transform: uppercase;
	}
	.header-four {
		color: #fff;
		font-family: Spartan;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 227.273% */
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.description {
		color: #fff;
		font-family: Spartan;
		text-align: center;
		font-size: 0.7rem;
		font-style: normal;
		font-weight: 400;
		line-height: 26px; /* 178.571% */
		opacity: 0.8;
	}
	.body-one {
		color: #fff;
		font-family: Spartan;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 25px; /* 227.273% */
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.body-two {
		color: #fff;
		font-family: Spartan;
		font-size: 8px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px; /* 200% */
		letter-spacing: 0.727px;
		text-transform: uppercase;
	}
	/* ... */
	.btn {
		color: #fff;
		text-align: center;
		font-family: Spartan;
		font-size: 9px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.929px;
		text-transform: uppercase;
		padding: 0.5rem;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-13 21:39:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-vert-center {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
@keyframes rotate-vert-center {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 3s
		cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s infinite both;
	animation: rotate-vert-center 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s
		infinite both;
}

/*loading bar*/
.loader-container {
	width: 100%;
	height: 20px;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

.loader-bar {
	height: 100%;
	width: 0;
	background-color: red;
	border-radius: 10px;
	transition: width 0.3s ease;
}
